html,
body,
#root {
  align-items: center;
  background-color: transparent !important;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  margin-top: 45px;
}
